.btn {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px 22px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  color: inherit;
  cursor: pointer;
  background: linear-gradient(90deg, #ff002f 30%, transparent) #c90d29ac;
  transition: background-color 1s;
}

.btn:hover,
.btn:focus {
  background-color: #e64646;
  color: #fff;
}
