.welocmeContainer {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  padding: 0 100px;
  color: white;
  background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.55) 0%,
      rgba(0, 0, 0, 0.55) 100%
    ),
    url("/welcome.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  justify-content: space-between;

  align-items: center;
}
.text {
  margin: 32px 0;
}
.heading {
  font-size: 55px;
  line-height: 60px;
  font-weight: 800;
}
.heading2 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}
